SKIP_PREFLIGHT_CHECK=true

VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SB_PUBLISHABLE_KEY=sb_publishable_XXXXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_IS_DEMO=false
VITE_INBOUND_EMAIL=xxxxxxxxxxxxxxxxxxxxxxxxxxxx@inbound.postmarkapp.com

# Google OAuth
VITE_GOOGLE_CLIENT_ID=XXXXXXXXXXXX-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173/google-oauth-callback
