name: 游 Deploy
on:
    push:
        branches:
            - main

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

permissions:
    pages: write
    contents: write

jobs:
    deploy:
        name: 游 Deploy
        runs-on: ubuntu-latest
        timeout-minutes: 10

        env:
            SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
            SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_DB_PASSWORD }}
            SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}
            IS_SUPABASE_CONFIGURED: ${{ secrets.SUPABASE_ACCESS_TOKEN && secrets.SUPABASE_DB_PASSWORD && secrets.SUPABASE_PROJECT_ID }}
            VITE_SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
            VITE_SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}
            VITE_IS_DEMO: ${{ vars.VITE_IS_DEMO }}
            VITE_INBOUND_EMAIL: ${{ vars.VITE_INBOUND_EMAIL }}
            PRODUCTION_REMOTE: https://git:${{ secrets.DEPLOY_TOKEN || secrets.GITHUB_TOKEN }}@github.com/${{ vars.DEPLOY_REPOSITORY || github.repository }}
            POSTMARK_WEBHOOK_USER: ${{secrets.POSTMARK_WEBHOOK_USER}}
            POSTMARK_WEBHOOK_PASSWORD: ${{secrets.POSTMARK_WEBHOOK_PASSWORD}}
            POSTMARK_WEBHOOK_AUTHORIZED_IPS: ${{secrets.POSTMARK_WEBHOOK_AUTHORIZED_IPS}}

        steps:
            - name: 游닌 Checkout repo
              uses: actions/checkout@v4

            - name: 丘뙖잺 Setup node
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: npm

            - name: 丘뙖잺 Setup git
              run: |
                  echo Deploying to pages to $PRODUCTION_REMOTE
                  git remote set-url origin https://git:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}
                  git remote add production $PRODUCTION_REMOTE
                  git config --global user.email support+actions@github.com
                  git config --global user.name github-actions-bot

            - name: 丘뙖잺 Setup supabase
              uses: supabase/setup-cli@v1

            - name: 游닌 Download deps
              run: npm install

            - name: 游댣 Build
              run: npm run build
            
            - if: ${{ env.IS_SUPABASE_CONFIGURED }}
              name: 游댕 Supabase Link
              run: npx supabase link --project-ref $SUPABASE_PROJECT_ID

            - if: ${{ env.IS_SUPABASE_CONFIGURED }}
              name: 游니 Push supabase migrations
              run: npx supabase db push

            - if: ${{ env.IS_SUPABASE_CONFIGURED }} && ${{ env.POSTMARK_WEBHOOK_USER }}
              name: 游니 Push supabase postman webhook user secret
              run: |
                  npx supabase secrets set POSTMARK_WEBHOOK_USER=${{ env.POSTMARK_WEBHOOK_USER }}

            - if: ${{ env.IS_SUPABASE_CONFIGURED }} && ${{ env.POSTMARK_WEBHOOK_PASSWORD }}
              name: 游니 Push supabase postman webhook password secret
              run: |
                  npx supabase secrets set POSTMARK_WEBHOOK_PASSWORD=${{ secrets.POSTMARK_WEBHOOK_PASSWORD }}

            - if: ${{ env.IS_SUPABASE_CONFIGURED }} && ${{ env.POSTMARK_WEBHOOK_AUTHORIZED_IPS }}
              name: 游니 Push supabase whebhook authorized IPS secret
              run: |
                  npx supabase secrets set POSTMARK_WEBHOOK_AUTHORIZED_IPS=${{ secrets.POSTMARK_WEBHOOK_AUTHORIZED_IPS }}

            - if: ${{ env.IS_SUPABASE_CONFIGURED }}
              name: 游니 Deploy supabase functions
              run: npx supabase functions deploy

            - name: 游니 Deploy GitHub pages
              run: npx gh-pages --remote production -d dist -b ${{ vars.DEPLOY_BRANCH || 'gh-pages' }}
              env:
                  GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN || secrets.GITHUB_TOKEN }}
